@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap");

:root {
  --black: #181818;
  --purple: #8758ff;
  --blue: #58b8e4;
  --gray: #f2f2f2;
  --border-color: rgba(255, 255, 255, 0.25);
}

/*
 *
 * CSS reset
 *
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Bree Serif", serif;
  color: var(--gray);
}

header {
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: center;
}

a.nav-link {
  & > i {
    margin-right: 8px;
  }
}

#my-avatar {
  width: 150px;
  border-radius: 50%;
}

main#content {
  position: relative;
  text-align: center;

  & > div > section {
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }

  & img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    padding: 3px;
  }

  & > div > p {
    text-align: left;
    font-size: 39px;
    max-width: 768px;
    margin: 0 auto;
  }
}

#my-name {
  text-align: left;
  background: -webkit-linear-gradient(90deg, violet, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#my-name + h2 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 24px;
  color: var(--white);
}
#my-name + h2 > a {
  color: var(--white);
}

#nav-items {
  display: flex;
  flex-direction: row;
  column-gap: 24px;

  & a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

a {
  color: var(--blue);
  text-decoration: none;
}

footer {
  width: 100vw; /* vw -> viewport width */
  padding: 24px;

  & > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 8px;
    max-width: 1440px;
    margin: 0 auto;

    & > a.nav-link {
      display: flex;
      align-items: center;
      column-gap: 8px;
      width: fit-content;

      & > div:first-child {
        width: 32px;
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

#content > div {
  width: 100vw; /* vw -> viewport width */
  padding: 24px;
}

span.role {
  color: var(--gray);
}

/* Projects page */

#hero-banner {
  background: linear-gradient(150deg, red, blue, magenta);
}
#hero-banner > div {
  width: 100vw; /* vw -> viewport width */
  display: flex;
  column-gap: 16px;
  padding: 16px;

}

@media (min-width: 426px) and (max-width: 768px) {
  #hero-banner > div {
    width: 50%;
    margin: 0 auto;
  }
}

#hero-banner h1,
#hero-banner h2 {
  color: white;
}
#hero-banner h1 {
  font-size: 2rem; /* 1rem -> 16px */
}
#hero-banner h2 {
  font-size: 1.1rem; /* customize this value to align the text in single row */
}

#projects-header {
  color: var(--white);
}

/*
 *
 * Projects page
 *
 */

section.project {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
}
section.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
section.project > h3 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 16px 16px 0;
  padding-bottom: 16px;
  border-bottom: 1px dotted var(--border-color);
  background: -webkit-linear-gradient(90deg, violet, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.project > img.thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

ul.techs {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px 16px 0;
  padding-bottom: 16px;
  font-size: 12px;
  column-gap: 8px;
  row-gap: 8px;
  border-bottom: 1px dotted var(--border-color);
}
ul.techs > li {
  width: fit-content;
  padding: 4px;
  border: 1px solid var(--blue);
  color: var(--blue);
}

p.description {
  margin: 16px 16px 0;
  padding-bottom: 16px;
  border-bottom: 1px dotted var(--border-color);
}

a.websiteUrl {
  margin: 16px;
  font-size: 14px;
}
a.websiteUrl > i {
  margin-left: 8px;
}

section#projects,
main#content + h3 {
  margin: 0 auto;
}

main#content + h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 24px;
  background: -webkit-linear-gradient(90deg, violet, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  section#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  main#content + h3 {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  section#projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  section#projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1440px;
  }

  main#content + h3 {
    max-width: 1440px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  section#projects,
  main#content + h3 {
    padding-right: 24px;
    padding-left: 24px;
  }
}

main#content > div {
  padding-bottom: 0;
}

footer {
  position: initial;
}

section#hero-banner > div {
  justify-content: center;
}
